

#binaryMaps_maps {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}


#binaryMaps_maps .map-wrapper {
    display: inline-block;
    width: 33%;
    position: relative; }

#binaryMaps_maps path {
    fill: #e9e9e9;
    stroke: #e9e9e9;
    stroke-width: 1px; }


#binaryMaps_maps .selection-label {
    width: 60%;
    text-align: center;
    position: absolute;
    bottom:25px;
    left: 0;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
@media screen and (max-width: 10000px) and (min-width: 0px) {
    #binaryMaps_maps .selection-label {
        font-size: 10px; } }

#binaryMaps_maps .svg-container {
    padding-bottom: 65%; }

#binaryMaps .btn-group {
    display: none; }

#binaryMaps_maps .vis-title {
    width: 60%;
    position: center;
    bottom: 30%;
    left: 0; }

@media screen and (max-width: 10000px) and (min-width: 768px) {
    #binaryMaps_maps .vis-title {
        bottom: 5%;
        font-size: 12px; } }

#binaryMaps .btn-group {
    display: inline-block;
    width: 100px;
    margin: 2px auto; }

@media screen and (max-width: 10000px) {
    #binaryMaps[data-active-date] .map-wrapper {
        display: none; }
    #binaryMaps[data-active-date="2005"] .map-wrapper:first-child {
        display: block; }
    #binaryMaps[data-active-date="2010"] .map-wrapper:nth-child(2) {
        display: block; }
    #binaryMaps[data-active-date="2015"] .map-wrapper:last-child {
        display: block; } }

@media screen and (max-width: 10000px) {
    #binaryMaps .map-wrapper {
        display: block;
        width: 75%;
        position: relative; } }

#binaryMaps_legend.vis-legend {
    max-width: 400px; }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%;*/
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden; }

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0; }

/* ============================================================
  SECTIONS
============================================================ */




.wrapper {
    background-color: #000000; }

.content {
    background-color: #ffffff; }

.callout {
    background-color: #ECEFF1;
    border: 1px solid #d5dbe0;
    color: #000000;
    padding: 17px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1); }
.callout .h3-sm {
    font-size: 1.5em; }
.callout a {
    color: #205493; }

.center {
    text-align: center;
    margin: auto; }

.title {
    color: #455A64;
    font-weight: normal; }

.subtitle {
    color: #455A64;
    font-size: 12px;
    font-weight: normal; }


