
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 24px;
	color: "black";
	margin-top: 40px;
}

h2 {
	color: #94a97a;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.info-text {
	color: #94a97a;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.info-text2 {
	color: red;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.time-range{
	padding-left: 20px;
}

.brush {
	fill: #ccc;
	fill-opacity: .5;
	pointer-events: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #555;
}

#priovis .x-axis text {
	font-weight: 600;
}

.iconPlain  {
	fill:"#00000";
}

.area {
	fill: #825a5a;
}

.area.area-age {
	fill: #94a97a;
}

.bar {
	fill: #93bebf;
}

/*Radio Button CSS */

.container2 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 8px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*Slide Made Edits herer*/
.slider-label{
	color: #94a97a;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 70%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

/*-- age labe --*/
.age-label{
	color: "black";
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.rad-but {
  float:left;
	padding-right:20px;
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    width: 180px;
    height: 50px;
    padding: 2px;
    font: 16px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}



#binaryMaps_maps {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}


#binaryMaps_maps .map-wrapper {
    display: inline-block;
    width: 33%;
    position: relative; }

#binaryMaps_maps path {
    fill: #e9e9e9;
    stroke: #e9e9e9;
    stroke-width: 1px; }


#binaryMaps_maps .selection-label {
    width: 60%;
    text-align: center;
    position: absolute;
    bottom:25px;
    left: 0;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
@media screen and (max-width: 10000px) and (min-width: 0px) {
    #binaryMaps_maps .selection-label {
        font-size: 10px; } }

#binaryMaps_maps .svg-container {
    padding-bottom: 65%; }

#binaryMaps .btn-group {
    display: none; }

#binaryMaps_maps .vis-title {
    width: 60%;
    position: center;
    bottom: 30%;
    left: 0; }

@media screen and (max-width: 10000px) and (min-width: 768px) {
    #binaryMaps_maps .vis-title {
        bottom: 5%;
        font-size: 12px; } }

#binaryMaps .btn-group {
    display: inline-block;
    width: 100px;
    margin: 2px auto; }

@media screen and (max-width: 10000px) {
    #binaryMaps[data-active-date] .map-wrapper {
        display: none; }
    #binaryMaps[data-active-date="2005"] .map-wrapper:first-child {
        display: block; }
    #binaryMaps[data-active-date="2010"] .map-wrapper:nth-child(2) {
        display: block; }
    #binaryMaps[data-active-date="2015"] .map-wrapper:last-child {
        display: block; } }

@media screen and (max-width: 10000px) {
    #binaryMaps .map-wrapper {
        display: block;
        width: 75%;
        position: relative; } }

#binaryMaps_legend.vis-legend {
    max-width: 400px; }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%;*/
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden; }

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0; }

/* ============================================================
  SECTIONS
============================================================ */




.wrapper {
    background-color: #000000; }

.content {
    background-color: #ffffff; }

.callout {
    background-color: #ECEFF1;
    border: 1px solid #d5dbe0;
    color: #000000;
    padding: 17px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1); }
.callout .h3-sm {
    font-size: 1.5em; }
.callout a {
    color: #205493; }

.center {
    text-align: center;
    margin: auto; }

.title {
    color: #455A64;
    font-weight: normal; }

.subtitle {
    color: #455A64;
    font-size: 12px;
    font-weight: normal; }



